<mat-toolbar class="max-w-7x1 mx auto border-x justify-between">
    <a routerLink="home">Fashion Store</a>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon
         [matBadge]="1"
         matBadgeColor="warn"
    >shopping_cart</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
        <div class="pb-3 flex justify-between">
            <span class="mr-16">1 items</span>
            <a routerLinks="cart"></a>
            </div>
            </div>
</mat-menu>
</mat-toolbar>